@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(16, 11, 19);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

.section-header {
    position: relative;
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(75.66deg, rgba(178, 131, 255, 0.62) 2.16%, rgba(23, 47, 255, 0.35) 106.36%); */
    /* background: linear-gradient(120deg, rgba(91, 233, 110, 0.76) 2.16%, rgba(23, 46, 255, 0.856) 106.36%); */
    background: rgba(22, 22, 22, 0.281);
    overflow: hidden;
}

.section-header .container {
    position: relative;
    width: 80%;
    max-width: 1300px;
    height: 100vh;
}

.section-header .video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.btn {
    outline: none;
    border: none;
    font-size: 18px;
    width: 10em;
    height: 2.5em;
    border-radius: 30px;
    /* background: none; */
    /* background: rgb(215, 129, 255);
    color: #fff;
    border: 1px solid rgb(215, 129, 255); */
    cursor: pointer;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
    background: rgb(215, 129, 255);
}

.btn-secondary {
    background: none;
    color: rgb(215, 129, 255);
    border: 2px solid rgb(215, 129, 255);

}   

.section-header .header-title {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-title h1 {
    font-size: 3.7em;
    text-transform: uppercase;
}

.header-title h3 {
    font-size: 1.5em;
    color: rgb(215, 129, 255);
    text-transform: uppercase;
    margin-bottom: .5em;
    position: relative;
    width: max-content;
}

.header-title h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 5em;
    background: rgb(215, 129, 255);
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
}

.header-title p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7em;
    margin: 10px 0 25px 0;
}

.section-1, .section-2, .section-3, .section-4 {
    padding: 10em 0;
}

.section-1-feature {
    display: flex;
    align-items: center;
}

.section-1-feature img {
    height: 30em;
    margin: 0 50px;
}

.right-aside h3 {
    font-size: 1.5em;
    color: rgb(215, 129, 255);
    text-transform: uppercase;
    margin-bottom: .5em;
    position: relative;
    width: max-content;
}

.right-aside h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 5em;
    background: rgb(215, 129, 255);
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
}

.right-aside p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7em;
    margin: 10px 0 25px 0;
}


.card-container {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;
}

.card-container .card {
    width: 400px;
    height: 30em;
    background: #201927
}

.card {
    border-radius: 10px;
}

.card img {
    height: 15em;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px;
}